@model ControlPanel.ViewModels.SubContentListViewModel

@{ int i = 1;}



@if (TempData["Message"] != null)
{
    <script type="text/javascript">notifyMessage("@TempData["Message"]");</script>
}
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">notifyError("@TempData["ErrorMessage"]");</script>
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Screen</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(x => x.Content)
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(x => x.Content)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(x => x.SortOrder)
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(x => x.SortOrder)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.Label("Made Public")
                                </div>
                                <div class="col-md-6">
                                    @(Model.MakePublic == true ? "Yes" : "No")
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(x => x.FileName)
                                    </div>
                                    <div class="col-md-6">
                                        @if (!string.IsNullOrEmpty(Model.FileName))
                                        {
                                            @(Model.FileName.Split('_')[1])
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-warning" onclick="history.go(-1);">Cancel</button>
            </div>
        </div>
    </div>
</div>



