@model ControlPanel.ViewModels.SubContentListViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.Screen = "Edit SubContent";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">notifyMessage("@TempData["Message"]");</script>
}
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">notifyError("@TempData["ErrorMessage"]");</script>
}

@using (Html.BeginForm("Edit", "SubContentList", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.SubContentId)
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Screen</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Content)
                                        @Html.TextBoxFor(x => x.Content, new { @class = "form-control", @placeholder = "Enter Content text" })
                                        @Html.ValidationMessageFor(x => x.Content)
                                    </div>
                                </div>
                                <div class="col-md-12" id="pdf-file">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.File)
                                                @Html.TextBoxFor(x => x.File, new { @class = "form-control", @type = "file" })
                                                @Html.ValidationMessageFor(x => x.File)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.Label("Remove File")
                                                <button type="button" class="btn btn-danger" onclick="removeFile()">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="pdf-file-name">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.LabelFor(x => x.FileName)
                                            </div>
                                            <div class="col-md-6" id="file-name">
                                                @if (!string.IsNullOrEmpty(Model.FileName))
                                                {
                                                    @Html.HiddenFor(x => x.FileName)
                                                    @Html.DisplayFor(x => x.FileName.Split('_')[1])
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.MakePublic)
                                        @Html.CheckBoxFor(x => x.MakePublic)
                                        @Html.ValidationMessageFor(x => x.MakePublic)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.SortOrder)
                                        @Html.TextBoxFor(x => x.SortOrder, new { @class = "form-control", @placeholder = "Enter Sort Order", @type = "number", @min = "1", @step = "1", @Value = "1" })
                                        @Html.ValidationMessageFor(x => x.SortOrder)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-warning" onclick="history.go(-1);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

