@model ControlPanel.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.Screen = "Change Password";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">notifyMessage("@TempData["Message"]");</script>
}
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">notifyError("@TempData["ErrorMessage"]");</script>
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Change Password</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 required">
                                @Html.LabelFor(x => x.OldPassword)
                                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Enter Old Password", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.OldPassword)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 required">
                                @Html.LabelFor(x => x.Password)
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter New Password", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 required">
                                @Html.LabelFor(x => x.ConfirmPassword)
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-warning" onclick="history.go(-1);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}




